<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>

    <h1>
        <%= kindOfDay %>
    </h1>
    <ul>

        <% for (i=0; i<newListIthems.length; i++){ %>
            <li>
                <%= newListIthems[i] %>
            </li>
            <% } %>
    </ul>

    <form action="/" method="post">
        <input type="text" name="newIthem" id="">
        <button type="submit" name="button">Add</button>

    </form>

</body>

</html>